@charset "UTF-8";
/* 폰트 */

@font-face {
  font-family: 'WAGURITTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WavvePADO-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimPuzzleTTF-Outline';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Outline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AssacomFreeGothicTTF-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/AssacomFreeGothicTTF-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* menu */
@font-face {
  font-family: 'neurimboGothicRegular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ======팝업====== */
.popup {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  height: 140px;
  z-index: 60;
  border-radius: 0 10px 10px 0;
  background-color: rgba(97, 97, 97, 0.6);
  color: #fff;
  font-variant: small-caps;
  font-size: 20px;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ====================== */

.section {
  width: 100%;
  height: 100vh;
}

header {
  margin-top: 20px;
}

#logo {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

#logo div {
  width: 30%;
}

.icon>ul {
  display: flex;
  justify-content: center;
}

.icon>ul>li {
  padding: 5px;
}

#logo>div img {
  display: block;
  margin: 0 auto;
  width: 250px;
}

/* 아이콘 */
.h-icon>a {
  /* width: 30px;
  height: 30px; */
  padding: 13px;
  margin: 10px;
  position: relative;
  top: 30px;
  left: 150px;
}

.h-icon>a:first-child {
  background: url(../img/icon_heart.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.h-icon>a:first-child:hover {
  background: url(../img/icon_heart_hover.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 2s;
}

.h-icon>a:nth-child(2) {
  background: url(../img/icon_cart.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.h-icon>a:nth-child(3) {
  background: url(../img/icon_my.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.h-icon>a>p {
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  border-radius: 100%;
  background-color: #fb91a3;
  color: #fff;
  position: absolute;
  top: 0px;
  right: -6px;
}

/* 메뉴 */

nav {
  width: 90%;
  margin: 0 auto;
}

.main_menu {
  display: flex;
  justify-content: center;

}

.main_menu>li {
  width: 12.5%;
  position: relative;
}

.main_menu>li>a {
  display: block;
  padding: 11%;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  transition: 0.5s;
  font-family: 'neurimboGothicRegular';
}

.main_menu>li>a:hover {
  color: #fb91a3;
}

.sub_menu {
  width: 100%;
  display: none;
  position: absolute;
  top: 82px;
  left: 0px;
  z-index: 20;
}

.sub_menu>li>a {
  display: block;
  padding: 8%;
  font-size: 1rem;
  text-align: center;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'NEXON Lv1 Gothic OTF';
}

.sub_menu>li:last-child>a {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sub_menu>li>a:hover {
  color: #fb91a3;
}

.lip {
  text-align: center;
}

.glow p,
.matte p {
  font-weight: bold;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}

.glow a,
.matte a {
  display: block;
  padding: 8%;
  font-size: 1rem;
  text-align: center;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'NEXON Lv1 Gothic OTF';
}

.matte_last>a {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.glow a:hover {
  color: #fb91a3;
}

.matte a:hover {
  color: #fb91a3;
}

/* 슬라이드 */
.swiper {
  width: 100%;
  height: 750px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide:nth-child(1) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide:nth-child(2) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide:nth-child(3) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide:nth-child(4) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-button-next {
  margin-right: 10%;
  --swiper-theme-color: #ffffff;
  --swiper-navigation-size: 66px;
}

.swiper-button-prev {
  margin-left: 10%;
  --swiper-theme-color: #ffffff;
  --swiper-navigation-size: 66px;
}

.swiper-pagination {
  --swiper-theme-color: #fb91a3;
  margin-bottom: 2%;
  --swiper-pagination-bullet-size: 12px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 제품 탭메뉴 */
#product {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 90%;
  height: 100vh;
}

.left {
  width: 50%;
}

.left>ul {
  position: relative;
}

.left>ul>li {
  position: absolute;
  top: 0;
  left: 0;
}

.left img {
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}


.right {
  width: 45%;
  position: relative;
  margin-right: 60px;
}

.tab {
  display: flex;
}

.tab>li {
  width: 50%;
  font-size: 40px;
  margin-top: 30px;
}


.tab>li>a {
  display: block;
  width: 100%;
  margin-left: 20PX;
  font-weight: 200;
  margin-top: 30px;
}

.tab>li div {
  position: absolute;
  top: 80px;
  left: 0;
  overflow: hidden;
  height: 0px;
}

.tab>li.active div {
  position: absolute;
  top: 150px;
  left: 0;
  width: 800px;
  height: 800px;
}

/* .active img {border-bottom:5px solid lightcoral} */

.new,
.best {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#new_t,
#best_t {
  width: 120px;
}

.tab>li.active>a {
  width: 120px;
  border-bottom: 5px solid pink;
}

/* .active #best_t {
  border-bottom: 5px solid pink;
}  */

.new>li,
.best>li {
  width: 390px;
  height: 390px;
  overflow: hidden;
  margin: 5px;
}

.new img,
.best img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

/* tab  text */
.new span,
.best span {
  float: left;
  position: relative;
  top: -100px;
  left: 20px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: 'AssacomFreeGothicTTF-Regular';
  -webkit-text-stroke: #fdb6bc 1px;
  transition: 0.8s;
}

.new>li>a:hover span {
  color: #fdb6bc;
  -webkit-text-stroke: #ffffff 0.8px;

}

.best>li>a:hover span {
  color: #fdb6bc;
  -webkit-text-stroke: #ffffff 0.8px;
}

.new span::after {
  clear: both;
  content: "";
}

/* 반응형 new/best */
#product2 {
  display: none;
}


/* #mainContainer : 룩북,오피스,케미 묶음*/
#mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* .m-left : 오피스.케미 묶음 */
.m-left {
  width: 50%;
  background-color: aliceblue;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.m-left:hover {
  width: 60%;
  transition: all 1s;
}

/* .m-right : 룩북 */
.m-right {
  width: 50%;
  background-color: aliceblue;
}

.m-right:hover {
  width: 60%;
  transition: all 1s;
}

/* 오피스 */
.content3 {
  width: 100%;
  height: 50%;
  background: url(../img/openoffice1.jpeg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.content3:hover {
  background: url(../img/openoffice2.jpeg);
  background-size: cover;
  background-position: center;
  height: 60%;
  transition: all 1s;
}

/* 케미 */
.content4 {
  width: 100%;
  height: 50%;
  background: url(../img/chemiproject2.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.content4:hover {
  background: url(../img/chemiproject1.jpg);
  background-size: cover;
  background-position: center;
  transition: all 1s;
  height: 60%;
}

.content3>h1,
.content4>h1 {
  color: #333;
  font-weight: 800;
  font-size: 30px;
  padding: 20px;
  padding-bottom: 5px;
}

.content3>a,
.content4>a {
  width: 50px;
  padding-bottom: 3px;
  text-align: center;
  color: #333;
  font-weight: 400;
  border-bottom: 1px solid #333;
  font-size: 25px;
  margin-left: 20px;
}

/* 룩북 */
.content5 {
  width: 100%;
  height: 100%;
  background: url(../img/lookbook1.jpg);
  background-size: cover;
  transition: all 1s;
  cursor: pointer;
}

.content5:hover {
  background: url(../img/lookbook2.jpg);
  background-size: cover;
  transition: all 1s;

}


.content5>h1 {
  color: #333;
  font-weight: 800;
  font-size: 30px;
  padding: 20px;
  padding-bottom: 5px;
}

.content5>a {
  width: 50px;
  padding-bottom: 3px;
  text-align: center;
  color: #333;
  font-weight: 400;
  border-bottom: 1px solid #333;
  font-size: 25px;
  margin-left: 20px;
}

/* sns */
#sns {
  margin: 0 auto;
  width: 99%;
  height: 75vh;
  display: flex;
}

.insta {
  width: 80%;
}

.insta>ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.insta>ul>li {
  width: 20%;
  margin-bottom: -5px;
  text-align: center;
}

.insta img {
  width: 100%;
  opacity: 0.7;
}

.insta img:hover {
  opacity: 1;
}

.insta h2 {
  font-size: 50px;
  font-weight: 300;
  padding: 10px;
}

.youtube {
  width: 20%;
  text-align: center;
  margin-top: 10%;
}

.youtube img {
  border-radius: 50%;
  width: 60%;
  opacity: 1;
}

.youtube img:hover {
  opacity: 0.8;
}

.y_title {
  font-size: 50px;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 50px;
}

footer {
  width: 100%;
  height: 25vh;
  background-color: #d5a2a2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer div {
  width: 30%;
}

.footer_logo {
  display: block;
  text-align: center;
}

.footer_add {
  padding: 20px;
  margin-left: 30px;
}

.footer_add p {
  color: white;
  line-height: 25px;
}

.footer_sns>ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer_sns>ul>li {
  padding: 5px;
}

.footer_sns img {
  width: 100%;
}

/* up */
#up {
  width: 10%;
  position: fixed;
  right: 0;
  bottom: 30px;
}

#up img {
  width: 40%;
  border-radius: 50%;
  opacity: 0.7;
}

#up img:hover {
  opacity: 1;
}


/* 반응형 관련 */
#app_tap {
  display: none;
}

#mainContainer_M {
  display: none;
}

.youtube_link {
  display: none;
}

#youtube_M {
  display: none;
}

/* 반응형 사이즈 */
/* 폰 */
@media screen and (min-width:350px) and (max-width: 430px) {

  .popup {
    display: none;
  }

  header {
    width: 100%;
  }

  #logo>div {
    width: 33.33%;
  }

  #logo>div img {
    width: 120px;
  }

  .h-icon>a {
    position: relative;
    top: 10px;
    left: 15px;
    padding: 7.5%;
  }

  .h-icon>a:first-child {
    background: url(../img/icon_heart.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
  }

  .h-icon>a:nth-child(2) {
    background: url(../img/icon_cart.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
  }

  .h-icon>a:nth-child(3) {
    background: url(../img/icon_my.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
  }
/* 모바일 메뉴 */
  /* 햄버거 메뉴 스타일 */
  .hamburger-menu {
    display: block;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: relative;
    top: -32px;
    left: 0px;
    z-index: 1000;
  }

  .hamburger-menu span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000000;
    /* 검정색으로 변경 */
    margin: 5px 0;
    transition: 0.3s;
  }

  /* 기본 메뉴 숨기기 */
  .main_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
  }

  
  .main_menu.active {
    max-height: 500px; /* 활성화 시 최대 높이 */
  }

  .main_menu>li {
    width: 100%;
    position: relative;
  }

  .main_menu>li>a {
    padding: 15px;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
  }

  .main_menu>li>.sub_menu {
    position: static;
    display: none;
    background-color: #f9f9f9;
    margin-left: 0;
  }

  .main_menu>li>.sub_menu>li>a {
    padding: 10px 20px;
    font-size: 0.9rem;
    text-align: left;
    background-color: #f9f9f9;
  }

  /* lip */
  .glow p,
  .matte p {
    text-align: left;
    font-weight: bold;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .glow a,
  .matte a {
    padding: 10px 20px;
    font-size: 0.9rem;
    text-align: left;
    background-color: #f9f9f9;
  }


  /* 활성화 시 메뉴 열기 */
  .main_menu.active {
    display: flex;
  }

  .main_menu>li.active .sub_menu {
    display: block;
  }

  /* 슬라이드 */
  .swiper {
    width: 100%;
    height: 200px;
  }

  .swiper-button-next {
    --swiper-theme-color: transparent;
    ;
  }

  .swiper-button-prev {
    --swiper-theme-color: transparent;
  }

  .swiper-pagination {
    --swiper-pagination-bullet-size: 8px;
  }

  /* new/best */
  #product {
    display: none;
  }

  #app_tap {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .app_new {
    width: 15%;
    border-bottom: 3px solid #fb91a3;
    margin-left: 10px;
  }

  .mySwiper2 {
    width: 100vw;
    height: auto;
  }

  .slide2 {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
  }

  #slide2_ul a {
    display: block;
    background-color: #ffffff;

  }

  #slide2_ul img {
    max-width: 100%;
    height: 100%;

  }



  #mainContainer {
    display: none;
  }

  /* #mainContainer : 룩북,오피스,케미 묶음*/
  #mainContainer_M {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
  }

  /* .m-left : 오피스.케미 묶음 */
  .m-left {
    width: 100%;
  }

  .m-left:hover {
    width: 100%;
    transition: all 1s;
  }

  /* .m-right : 룩북 */
  .m-right {
    width: 100%;
  }

  .m-right:hover {
    width: 100%;
  }

  /* 오피스 */
  .content3_M {
    width: 100%;
    height: 150px;
    border-top-right-radius: 30px;
    position: relative;
    overflow: hidden;
  }

  .spanM1 {
    position: absolute;
    top: 40px;
    left: 10px;
  }

  .content3_M>img {
    max-width: 100%;
    object-fit: cover;
  }


  /* 케미 */
  .content4_M {
    width: 100%;
    height: 190px;
    border-top-right-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  .spanM2 {
    position: absolute;
    top: 210px;
    left: 10px;
  }

  .content4_M img {
    max-width: 100%;
    object-fit: cover;
  }

  .content3_M h1,
  .content4_M h1 {
    font-size: 1.8rem;
    padding: 5px;
  }

  .content3_M a,
  .content4_M a {
    font-size: 1.3rem;
    margin-left: 10px;
  }

  /* 룩북 */
  .content5_M {
    background: url(../img/룩북\ 반응형1.JPG);
    width: 100%;
    height: 240px;
    background-size: cover;
    transition: all 1s;
    cursor: pointer;
    border-top-right-radius: 30px;
    position: relative;
    overflow: hidden;
  }

  .spanM3 {
    position: absolute;
    top: 420px;
    left: 10px;
  }

  .content5_M img {
    max-width: 100%;
    object-fit: cover;
  }

  .content5_M h1 {
    font-size: 1.8rem;
    padding: 5px;
  }

  .content5_M a {
    font-size: 1.3rem;
    margin-left: 10px;
  }

  /* sns */
  #sns {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 80px;
  }

  .insta {
    width: 100%;
  }

  .insta img {
    opacity: 1;
  }

  .insta h2 {
    font-size: 30px;
    font-weight: 400;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .youtube {
    width: 99%;
    display: flex;
    margin-top: 20px;
  }

  .youtube_logo {
    width: 25%;
    margin-left: 20px;
  }

  .youtube img {
    border-radius: 50%;
    width: 100%;
    margin-top: 50px;
  }

  .youtube_link {
    display: block;
    width: 60%;
    height: 250px;
  }

  .link_video {
    width: 100%;
    height: 200px;
    border-radius: 50px;
    margin-left: 30px;
  }

  .y_title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 10px;
  }


  /* footer */
  footer {
    width: 100%;
    height: 350px;
    background-color: #d5a2a2;
    display: block;
    margin-top: 30px;
    overflow: hidden;
  }

  footer div {
    width: 100%;
  }

  .footer_logo {
    display: block;
    text-align: left;
    width: 100%;
  }

  .footer_logo img {
    width: 30%;
    margin-top: 10px;
    margin-left: 30px;
  }

  .footer_add {
    margin-left: 0px;
    padding: 20px;
  }

  .footer_add p {
    display: block;
    color: white;
    line-height: auto;
    font-size: 12px;

  }

  .footer_sns>ul {
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
  }

  .footer_sns>ul>li {
    padding: 5px;
  }

  .footer_sns img {
    width: 50%;
  }

  /* up */
  #up {
    width: 15%;
    position: fixed;
    right: 7%;
    bottom: 4%;
  }

  #up img {
    width: 100%;
    border-radius: 50%;
    opacity: 1;
  }

}