@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
html,
      body {
        width: 100%;
        height: 100%;
      }
.section {
  width: 100%;
  height: 100vh;
}

/* ====================== */

#fp-nav ul li a span {
  background: rgb(118, 151, 240) !important;
}

#fp-nav ul li a.active span {
  background: rgb(52, 88, 185) !important;
}

#fp-nav {
  padding: 10px;
}

/* ================ */
.section img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* =========== */
.text_box1 h1,
h2 {
  color: #2e63af;
  text-align: center;
}

.text_box1 h1 {
  font-size: 5rem;
}

.text_box1 h2 {
  font-weight: normal;
  font-size: 2.8rem;
}

.text_box2 h3 {
  font-size: 2.5rem;
  padding: 50px;
  text-align: center;
}

.text_box2 p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
}

.text_box3 p {
  text-align: center;
  font-size: 1.5rem;
  padding: 40px;
  line-height: 40px;
}

.text_box3 span {
  transition: 2s;
}

.section2:hover .text_box3 span {
  background-color: #ea9cac;
}

/* ========= */

.text_box4 h1 {
  color: #ea9cac;
  font-size: 3rem;
  padding: 60px;
  padding-bottom: 0px;
}

.text_box5 h1 {
  color: #2e63af;
  font-size: 2rem;
  padding: 30px;

}

.text_box5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.con1 {
  height: 70%;
}

.con1>ul, .con2>ul {
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.con1>ul>li, .con2>ul>li {
  width: 40%;
  padding: 10px;
}

.con1>ul>li>p {
  font-size: 2rem;
  text-align: center;
}
.con2>ul>li>p {
  font-size: 1.5rem;
  text-align: center;
}

.con1>ul>li>p>span {
  font-weight: bold;
  color: #2e63af;
}
.con2>ul>li>p>span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2e63af;
}

.con1 img, .con2 img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

/* ================ */
.text_box6 {
  position: relative;
  top: 0px;
  left: 0px;
}

.text_box6>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con1-2 {
  height: 70vh;
}

.con1-2>ul {
  margin-top: 100px;
}

/* ========= */
.con1-2 .img3-2 {
  max-width: 16%;
  height: 40%;
  position: relative;
  top: -250px;
  left: 800px;
}

/* map */
#map_h {
  width: 60px;
  position: relative;
  top: -390px;
  left: 590px;
  animation: hdieShow 1.5s infinite;
}
@keyframes hdieShow {
  0% {opacity: 0.5;}
  50% {opacity: 1;}
  100% {opacity: 0.5;}
}

/* up */
#up {
  width: 10%;
  position: fixed;
  right: 0;
  bottom: 30px;
}

#up img {
  width: 40%;
  border-radius: 50%;
  opacity: 0.7;
}

#up img:hover {
  opacity: 1;
}

@media screen and (min-width:350px) and (max-width: 430px) {
 .text_box1 h1 {
    font-size: 2rem;
  }
  
  .text_box1 h2 {
    font-size: 1.2rem;
  }
  
  .text_box2 h3 {
    font-size: 1.5rem;
    padding: 50px;
    text-align: center;
  }
  
  .text_box2 p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 40px;
    padding: 10px;
  }

  .text_box3 p {
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    line-height: 40px;
  }
 
  /* ========= */
  
  .text_box4 h1 {
    color: #ea9cac;
    font-size: 1.5rem;
    padding: 15px;
    padding-bottom: 0px;
  }
  .text_box5 img {
    width: 150%;
    height: 100%;
    object-fit: cover;
  }
  .text_box6 img {
    width: 150%;
    height: 100%;
    object-fit: cover;
  }
  
  .con1, .con2 {
    width: 100%;
    height: auto;
    margin: 0px auto;
  }
  
  .con1>ul, .con2>ul {
    display: block;
    width: 100%;
    margin-left: -3px;
  }
  
  .con1>ul>li, .con2>ul>li {
    width: 100%;
    padding: 10px;
  }
  
  .con1>ul>li>p {
    font-size: 1rem;
    text-align: center;
  }
  /* con2 */
  .con2>ul>li>p {
    font-size: 1rem;
    text-align: center;
  }
  
  .con2>ul>li>p>span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2e63af;
  }
  
  .con1 img, .con2 img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  
  /* ========= */
  
  .con1-2 .img3-2 {
    display: none;
  }
/* up */
#up {
  width: 15%;
  position: fixed;
  right: 7%;
  bottom: 4%;}

#up img {width: 100%;
         border-radius: 50%;
         opacity: 1;}
}

  
